Html, body {
	Margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1em;
    line-height: 1.2em;
    background-color: #e9edee;
}

/*----------------------FOOTER-----------------------------------------------------------------*/

#icon, #footerlogo {
    background-color: #222f3f;
    padding: 1%;
    text-align: left;
}

#icon img {
    width: 8%;
}

/*----------------------LOGO-----------------------------------------------------------------*/

#menu {
    background-color: #364759;
    color: #d8e2ea;
}

#menu li {
    display: inline;    
}

#menu ul {
    list-style-type: none;
    padding: 1%;
    margin: 0;
 /*come height del #menu per centrarlo*/
}

/*-----------------------------------CONTAINER1------------------------------------------------*/

#container {
    padding: 1%;
    background-color: #e9edee;
}

#container1 {
    background-color: #f56600;
    height: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
}

#container2 {
    background-image: url(/settimana2/PROGETTO02/assets/IMG/bg-image.png);
    height: 200px;
    color: white;
    text-align: center;
    margin-top: 30px;
}

h1 {
    margin: 0;
    padding-top: 70px;
}

#container2 p {
    margin: 0;
    padding-bottom: 60px;
    padding-top: 30px;
}

#container3 {
    background-color: white;
    height: 100%;
    display: block;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 30px;
}

#container3 img {
    text-align: center;
    border-radius: 12px;
    display: inline;
    box-shadow: 10px 10px 5px #dedede;   
}
/*IMMAGINI--------------------------------------------------------*/

#img1 {
    display: inline;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-right: 2%;

}

#img2 {
    display: inline;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-right: 2%;

}

#img3 {
    display: inline;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-right: 2%;

}

#img4 {
    display: inline;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-right: 2%;

}


#container3 h3 {
    text-align: left;
}

span {
    color: #22696f;
    font-size: 0.8em;
    font-weight: bold;
}

/*IMMAGINI GRANDI*/

#container4 img {
    width: 100%;
    height: 100%;
}

#container figure {
    margin: 0;
    text-align: center;
}

#immagine1 {
    padding-bottom: 2%;
}

#immagine2 {
    padding-bottom: 2%;
}

/*FOOTER*/

#return {
    text-align: center;
    margin: 0;
    padding: 1%;
    background-color: #364759;
}

#return p {
    margin: 0;
    
}

#footerlogo {
    text-align: center;
    padding: 3%;
    margin: 0;
}

#return a:link, #return a:visited{
    text-decoration: underline;
    color: #f3ffff;
}

#return a:hover {
    color: #f56600;
}

#footerlogo img {
    width: 15%;
    height: 8%;
}






