@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: "FontAwesone";
    src: url('../CSS/fontawesome.css');
}

Html, body {
	Margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins; 
    font-size: 1em;
    line-height: 1.2em;
    background-image: url('../IMG/sfondo.png');
    background-position: center center;
    margin-left: 20px;
    margin-right: 20px;
}


#container1 {
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(180deg, rgb(17, 142, 119), rgb(11, 75, 75) 80%);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 50px;
    color:white;
    font-size: large;  
    padding: 20px; 
    border: 1px solid rgb(17, 142, 119);
    box-shadow: 10px 10px 30px 10px black, -10px -10px 30px 10px white;
    text-transform: uppercase; /*tutto maiuscolo*/
    
}

#container1 ul {
    display: inline-block;
}

#container1 a:link, #container a:visited {
    text-decoration: none;
    color: white;
}
#container1 a:hover {
    text-decoration: underline;
    color: red;
}

header nav ul {
    margin: 0;
}

header nav li {
    list-style: none;
}    

#container1 li a:hover {
    color:red;
}

header nav li a::before { /*inserire icona*/     
    
}




/*-------------------HEADER-------------------------------*/

#container2 {
    text-align: center;
    background-color:white;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 4px 4px 8px 2px black;
    color: black;
    padding: 10px;
   
}

h1 + p {
    color: grey;
    font-style: oblique;
}

strong {
    color: purple;
}

#container2 ul, ol {
    display: inline-block;
}

li code {
    background-color: rgb(202, 202, 202);
    border-radius: 8px;
    border: 1px solid black;
    padding: 3px;

}

caption {
    font-style: oblique;
    text-align: center;
}


table {

    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: 0, auto;
}

table td{
    padding: 15px;
}

th {
    padding: 15px;
}

thead {
    background-color: rgb(89, 130, 190);
}


.titolo .riga {
    border-right: 2px;
    border-color: white;
}

.pari {
    background-color: rgb(201, 199, 199);
}


#toolonline a:link, #toolonline a:visited {
    text-decoration: underline;
    color: blue;
}

#toolonline a:hover {
    color:rgb(89, 130, 190);
}

/*VIDEO*/

iframe {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 2px #666;
    padding: 0px;
    border: 0px;
}

#video {
    padding: 80px;
}

.novita {
    background-color: rgb(205, 203, 203);
    border-color: black;
    padding: 10px;
    border: 2px;
}

button {
    background-color: rgb(100, 100, 208);
    color: white;
    box-sizing: 20px;
    border: 0px;
    padding: 5px;
}

#art1 {
    background-color: rgb(205, 203, 203);
    border-color: black;
    padding: 10px;
    border: 2px;
    margin-bottom: 10px;
    text-align: left;
}
 #art2 {
    background-color: rgb(205, 203, 203);
    border-color: black;
    padding: 10px;
    border: 2px;
    margin-bottom: 10px;
    text-align: left;


 }

 #art3{
    background-color: rgb(205, 203, 203);
    border-color: black;
    padding: 10px;
    border: 2px;
    margin-bottom: 70px;
    text-align: left;

 }


 #art1 span {
    text-align: right;
    padding-right: 20px;
 }

 #art2 span {
    text-align: right;
    padding-right: 20px;
 }

 #art3 span {
    text-align: right;
    padding-right: 50px;
 }

 /*FOOTER*/

 footer {
    background-image: linear-gradient(to bottom, rgb(42, 100, 142), rgb(41, 44, 55));
    text-align: center;
    background-color:white;
    box-shadow: 4px 4px 8px 2px black;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
 }

 address a:link, addres a:visited { 
    text-decoration: underline;
    color: rgb(204, 36, 176);
}

address a:hover {
    color:rgb(124, 99, 173);
}

